* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headers {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  align-items: center;
  height: 65px;
}

.menu-left ul {
  display: flex;
  gap: 20px;
}

.menu-left ul li {
  list-style: none;
  padding: 20px;
}

.menu-left ul li:hover {
  background: #ccc;
  color: #000;
}

.content-sect {
  display: flex;
  text-align: center;
  min-height: calc(100vh - 120px);
  flex-direction: column;
}

.cart-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cart-section ul li {
  list-style: none;
}

.cart-section ul li span {
  color: red;
}

.footer-section {
  height: 60px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
}

.copy-write {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-div {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}